html{
    background: #0f0f0f;
    color: white;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
#wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh
}
#clips{
    text-align: center;
    font-size: 100px;
}
.btn{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    width: 100%;
    margin-top: 10px
}